<% if policy(@flat).edit? %>
  <div class="container-fluid edit-bar">
    <!-- Bouton pour edit le flat -->
    <%= link_to edit_flat_path(@flat), class: 'edit-bar-button' do %>
      Edit your flat <i class="far fa-edit"></i>
    <% end %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <!-- Bouton declancheur de la modale -->
    <div class="edit-bar-button" data-toggle="modal" data-target="#exampleModal">
      Delete your flat <i class="far fa-trash-alt"></i>
    </div>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deleting this flat will delete all current related bookings & reviews</p>
        <p>Are you sure you want to delete your flat:</p>
        <p><%= @flat.name %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= link_to flat_path(@flat), method: :delete do %>
          <button type="button" class="btn btn-primary">Delete my flat</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @flat.photo.blank? %>
  <div class="flat-banner" style="background-color: #46cdcf">
  </div>
<% else %>
  <div class="flat-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @flat.photo.key %>');">
  </div>
<% end %>

<div class="container">
  <div class="flat">
    <div class="flat-info">
      <div class="flat-info-header">
        <div class="flat-info-header-title">
          <h2><%= @flat.name %></h2>
          <p class="city"><%= @flat.city %></p>
        </div>
        <div class="flat-info-header-avatar">
          <% if @flat.user.photo.blank? %>
            <%= image_tag "user.png", class: 'avatar' %>
          <% else %>
            <%= cl_image_tag @flat.user.photo.key, class: 'avatar' %>
          <% end %>
          <p class="owner"><%= @flat.user.first_name %></p>
        </div>
      </div>
      <p><i class="fas fa-user-friends"></i> <%= @flat.max_guests %> guests</p>
      <hr>
      <p><%= @flat.description %></p>

      <h2>Reviews</h2>
      <hr>
      <% if @flat.reviews.present? %>
        <div class="reviews">
          <% @flat.reviews.each do |review| %>
            <div class="review">
              <% if review.user.photo.present? %>
                <%= cl_image_tag review.user.photo.key, class: 'avatar' %>
              <% else %>
                <%= image_tag "user.png", class: 'avatar' %>
              <% end %>
              <p class="description"><%= review.content %></p>
              <p class="rating">
                <% review.rating.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% (5 - review.rating).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </p>
            </div>
            <hr>
          <% end %>
        </div>
      <% else %>
      <i>There are no review for the moment</i>
      <% end %>

      <hr>
      <div class="review-form">
        <%= simple_form_for [@flat, @review] do |f| %>
          <%= f.input :rating, collection: 1..5 %>
          <%= f.input :content, as: :text %>
          <%= f.submit 'Add review', class: 'btn btn-primary' %>
        <% end %>
      </div>

    </div>
    <div class="flat-booking border bg-light rounded">
      <h3><%= humanized_money @flat.price %>€ <span style="font-size: 13px;">per night</span></h3>
      <hr>
      <%= simple_form_for [@flat, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date,   as: :date, html5: true %>
        <%= f.input :number_of_guests, collection: 1..@flat.max_guests, label: 'Number of guests' %>
        <%= f.submit 'Book now', class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    </div>
  </div>
</div>
