<% if @flat.photo.blank? %>
  <div class="banner" style="background-color: #46cdcf">
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @flat.photo.key %>');">
  </div>
<% end %>

<div class="container">
  <div class="flat">
    <div class="flat-info">
      <div class="flat-info-header">
        <div class="flat-info-header-title">
          <h2><%= @flat.name %></h2>
          <p class="city"><%= @flat.city %></p>
        </div>
        <div class="flat-info-header-avatar">
          <%= cl_image_tag @flat.user.photo.key, class: 'avatar' %>
          <p class="owner"><%= @flat.user.first_name %></p>
        </div>
      </div>
      <p><i class="fas fa-user-friends"></i> <%= @flat.max_guests %> guests</p>
      <hr>
      <p><%= @flat.description %></p>

      <% if @flat.reviews.present? %>
      <h2>Reviews</h2>
      <hr>
        <div class="reviews">
          <% @flat.reviews.each do |review| %>
            <div class="review">
              <% if review.user.photo.present? %>
                <%= cl_image_tag review.user.photo.key, class: 'avatar' %>
              <% else %>
                <%= image_tag "user.png", class: 'avatar' %>
              <% end %>
              <p class="description"><%= review.content %></p>
              <p class="rating">
                <% review.rating.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% (5 - review.rating).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </p>
            </div>
            <hr>
          <% end %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <hr>
        <div class="review-form">
          <%= simple_form_for [@flat, @review] do |f| %>
            <%= f.input :rating, collection: 1..5 %>
            <%= f.input :content, as: :text %>
            <%= f.submit 'Add review', class: 'btn btn-primary' %>
          <% end %>
        </div>
      <% end %>

    </div>
    <div class="flat-booking border bg-light rounded">
      <h3><%= humanized_money @flat.price %>€ <span style="font-size: 13px;">per night</span></h3>
      <hr>
      <%= simple_form_for [@flat, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date,   as: :date, html5: true %>
        <%= f.input :number_of_guests, collection: 1..@flat.max_guests, label: 'Number of guests' %>
        <%= f.submit 'Book now', class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    </div>
  </div>
</div>
